{% extends "root.html" %}

{% block body %}
<table>
    <tr>
        <th>imagen</th>
        <th>producto</th>
        <th>precio</th>
        <th>cantidad</th>
        <th>subtotal</th>
    </tr>
    {% for element in listado %}
    <tr>
        <td><img src="{{element.imagen}}" height="80px"></img></td>
        <td>{{element.nombre}}</td>
        <td>{{element.precio}}</td>
        <td>{{element.cantidad}}</td>
        <td>{{element.subtotal}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

